*~
*.gif

giflib-5.0.4/*
giflib-5.0.4/*/*
giflib-5.0.4/*/*/*


giflib/*
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
